.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.idea/

*.example.json
test.php
update1.sh
old/
logs
src/sConfig.php
/vendor/
composer.lock

